/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [DCID]
      ,[RouteID]
      ,[ScheduledDate]
      ,[StopSequenceNumber]
      ,[StopID]
      ,[StopName]
      ,[StopAddress1]
      ,[StopAddress2]
      ,[StopContact]
      ,[StopPhoneNumber]
      ,[StopAlerts]
      ,[StopDirections]
      ,[AlternateStopNumber]
      ,[ManifestNumber]
      ,[ScheduledArrivalTime]
      ,[ScheduledDepartureTime]
      ,[PlannedQuantity]
      ,[LoadedQuantity]
      ,[DeliveredQuantity]
      ,[InRouteSplitQuantity]
      ,[RejectedQuantity]
      ,[ReturnedQuantity]
      ,[OtherPickupQuantity]
      ,[ScanQuantity]
      ,[PalletQuantity]
      ,[CreditReferenceID]
      ,[Signature]
      ,[SignatureName]
      ,[ArrivalTime]
      ,[DepartureTime]
      ,[StopOpenTime]
      ,[StopCloseTime]
      ,[ManifestBarcode]
      ,[StopWorkDuration]
      ,[LocationScanTimeout]
      ,[InvoicePrintMode]
      ,[InvoicePrintModeSelected]
      ,[DriverID]
      ,[DriverSignIndicator]
      ,[GPSArriveLatitude]
      ,[GPSArriveLongitude]
      ,[GPSAquireTimeUTC]
      ,[GPSAquireTime]
      ,[Stratification]
      ,[DeliveryDays]
      ,[DeliveryWindowStart]
      ,[DeliveryWindowEnd]
      ,[DeliveryReceiptMsg]
  FROM [DriverPro].[driverpro].[Stop]
  Order by ArrivalTime  DESC