DECLARE @today datetime = CONVERT(datetime, CONVERT( date, GETDATE() -1) );

SELECT [DCID]
      ,[RouteID]
      ,[ScheduledDate]
      ,[UseItemSequenceIndicator]
      ,[UseItemZoneIndicator]
      ,[VehicleType]
      ,[TrailerID]
      ,[TrailerLocation]
      ,[RouteStatus]
      ,[ResultsExportedIndicator]
      ,[DriverID]
      ,[TractorID]
      ,[RouteInstructions]
      ,[InvoiceMessage]
      ,[RouteDownloadTime]
      ,[RouteUploadTime]
      ,[RouteUploadTimeUTC]
      ,[Stops]
      ,[PlannedQuantity]
      ,[LoadedQuantity]
      ,[DeliveredQuantity]
      ,[InRouteSplitQuantity]
      ,[RejectedQuantity]
      ,[ReturnedQuantity]
      ,[OtherPickupQuantity]
      ,[DriverSignature]
      ,[ScanQuantity]
      ,[PalletQuantity]
      ,[SerialNumber]
      ,[Inputs]
      ,[InputResults]
      ,[CheckInAssetsIndicator]
      ,[CheckInAssets]
      ,[GMTOffset]
  FROM [DriverPro].[driverpro].[Route]
  WHERE [ScheduledDate] = @today
  --WHERE AND RouteID = '312L'
  AND RouteStatus <> 'C'
  ORDER BY [DCID], [RouteID]